<div class="container">
  
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Symptoms</th>
            <th>Disease</th>
            <th>Medicine</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let record of records; let i = index">
            <td>{{record.date | date : "dd/MM/yyyy"}}</td>
            <td>
              <ul *ngFor = "let s of record.symptoms">
                <li>{{s.name}}</li>
              </ul>
            </td>
            <td>{{(record.disease !== null) ? record.disease.name : ""}}</td>
            <td>{{(record.medicine !== null) ? record.medicine.name : ""}}</td>

          </tr>
        
        </tbody>
      </table>

</div>

