<div class="containter" style="margin-top: 100px" >
        <div class="row">
            <div class = "col-md-5"></div>
            <div class = "col-md-2 row" style="margin-bottom: 20px">
                <h2> LOGIN </h2>
            </div>
        </div>
        <div class = "col-md-5"></div>
        <form  #loginForm = ngForm class="form-horizontal" (ngSubmit) = "login()">
        <div class="form-group row">
            <div class = "col-md-4"></div>
                <div class = "col-md-4 row">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" [(ngModel)] = "username">
                </div>
                <div class = "col-md-4"></div>
        </div>
        <div class="form-group row">
            <div class = "col-md-4"></div>
            <div class = "col-md-4 row">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" [(ngModel)] = "password">
            </div>
            <div class = "col-md-4"></div>
        </div>
        <div class="form-group row">
            <div class = "col-md-4"></div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" [disabled] = "!loginForm.valid">Login</button>
            </div>
            <div class = "col-md-4"></div>
        </div>
        </form>
</div>